{
  "presets": [
    ["env", {"modules": false, "useBuiltIns": true}],
    "flow"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {"useInlineSourceMaps": false}]
      ]
    }
  }
}
